<a href=<%=@url%>>
  <div class="line-login">
  </div>
</a>
<!--最初に読み込んでチカチカ防止-->
<%=image_tag "line_login_button/btn_login_hover.png", style:"display:none"%>
<%=image_tag "line_login_button/btn_login_press.png", style:"display:none"%>